<div class="btn-group btn-group-justified" role="group">
    <a role="button" class="btn" ng-click="detailCtrl.saveField(field)" title="Speichern">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    </a>
    <a role="button" class="btn" ng-click="detailCtrl.uneditField(field)" title="&Auml;nderungen verwerfen">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>
    <a role="button" class="btn" ng-click="detailCtrl.deleteField(field)" title="L&ouml;schen">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </a>
</div>
