<div class="alert alert-info" ng-show="isAuthenticated()">
    Du bist bereits eingeloggt! <a ng-click="loginCtrl.back()">Zurück</a>
</div>
<div ng-hide="isAuthenticated()">
    <div class="alert alert-danger" ng-show="!!returnto">
        Du musst dich zuerst einloggen!
    </div>
    <div class="alert alert-danger" ng-show="!!auth.loginError">
        Du konntest nicht eingeloggt werden: <br />
        <em>{{auth.loginError}}</em>
    </div>

    <p>
        Noch kein Account? <a ui-sref="register">Hier registrieren.</a>
    </p>

    <form role="form" ng-submit="auth.login()">
        <div class="form-group">
            <label for="username">Benutzername:</label>
            <input type="text" class="form-control" id="username" name="username" ng-model="auth.credentials.username"/>
        </div>
        <div class="form-group">
            <label for="password">Passwort:</label>
            <input type="password" class="form-control" id="password" name="password" ng-model="auth.credentials.password"/>
        </div>
        <button type="submit" class="btn btn-primary">Absenden</button>
    </form>
</div>
