<div class="alert alert-info" ng-show="isAuthenticated()">
    Du bist bereits eingeloggt! <a ng-click="loginCtrl.back()">Zurück</a>
</div>
<div ng-hide="isAuthenticated()">
    <div class="alert alert-danger" ng-show="!!auth.registerError">
        Registerierung fehlgeschlagen: <br />
        <em>{{auth.registerError}}</em>
    </div>
    <p>
        Beachte: Diese Webseite ist nur f&uuml;r eine geschlossene Gemeinschaft bestimmt.
        Sollte dir der Geheimcode nicht bekannt sein, bist du vermutlich nicht Teil derselben.
    </p>
    <form role="form" ng-submit="auth.register()">
        <div class="form-group">
            <label for="username">Benutzername:</label>
            <input type="text" class="form-control" id="username" name="username" ng-model="auth.credentials.username"/>
        </div>
        <div class="form-group">
            <label for="password">Passwort:</label>
            <input type="password" class="form-control" id="password" name="password" ng-model="auth.credentials.password"/>
        </div>
        <div class="form-group">
            <label for="register-token">Geheimcode:</label>
            <input type="text" class="form-control" id="register-token" name="register-token" ng-model="auth.credentials.registerToken"/>
        </div>
        <button type="submit" class="btn btn-primary">Registrieren</button>
    </form>
</div>
