<div class="alert alert-error" ng-hide="isAuthenticated()">
    Du bist nicht eingeloggt! <a ui-sref="login">Login</a>
</div>

<div ng-show="isAuthenticated()">
    <div ng-hide="detailCtrl.isFetched()">
        Lade Lehrer...
    </div>

    <div ng-show="detailCtrl.isFetched()">
        <h1>
            {{detailCtrl.getTeacher().name}}
            <small ng-show="detailCtrl.getTeacher().id">
                {{detailCtrl.getTeacher().abbreviation}}
                <span class="tingo-teacher-actions">
                    <a ng-click="detailCtrl.addField()"
                       title="Neues Feld" class="glyphicon glyphicon-plus"></a>
                    <a onclick="alert('Doppelklicke auf ein Feld, um es zu bearbeiten.')"
                       title="Doppelklicke auf ein Feld, um es zu bearbeiten" class="glyphicon glyphicon-edit"></a>
                    <a ng-href="{{'/secure/print/teacher/by/id/' + detailCtrl.getTeacher().id}}"
                       title="Felder drucken..." class="glyphicon glyphicon-print"></a>
                </span>
            </small>
        </h1>

        <div class="alert alert-info" ng-show="detailCtrl.getFields().length < 25">
            Die optimale Anzahl an Tingofeldern ist 5*5. F&uuml;r diese Lehrperson fehlen noch
            {{25 - detailCtrl.getFields().length}} Felder.
        </div>

        <div class="alert alert-info" ng-show="detailCtrl.getFields().length > 25">
            Die optimale Anzahl an Tingofeldern ist 5*5. F&uuml;r diese Lehrperson gibt es
            {{detailCtrl.getFields().length - 25}} Felder mehr.
            Daher werden immer nur 25 zuf&auml;llig ausgew&auml;hlte Felder gedruckt werden. (was die Schwierigkeit
            des Spiels erhöht)
        </div>

        <div class="container-fluid">
            <div class="col-xs-6 col-sm-2-4 tingo-field-tile"
                 ng-repeat="field in detailCtrl.getFields()" uib-tooltip-template="'/partials/detail-tooltip.html'"
                 tooltip-is-open="!!field.editing" tooltip-trigger="none">
                <span ng-hide="!!field.editing" ng-dblclick="detailCtrl.editField(field)">{{field.text}}</span>
                <div ng-show="!!field.editing">
            <textarea ng-dblclick="detailCtrl.saveField(field)"
                      ng-model="field.text" title="Bingofeld bearbeiten"
                      placeholder="Text eingeben..."></textarea>
                </div>
            </div>
        </div>
    </div> <!-- isFetched() -->
</div> <!-- isAuthenticated() -->
