<div class="alert alert-error" ng-hide="isAuthenticated()">
    Du bist nicht eingeloggt! <a ui-sref="login">Login</a>
</div>

<div ng-show="isAuthenticated()">
    <div ng-hide="detailCtrl.isFetched()">
        Lade Lehrer...
    </div>

    <div ng-show="detailCtrl.isFetched()">
        <h1>
            {{detailCtrl.getTeacher().name}}
            <small ng-show="detailCtrl.getTeacher().id">
                {{detailCtrl.getTeacher().abbreviation}}
                <span class="tingo-teacher-actions">
                    <a ng-click="detailCtrl.addField()" ng-hide="auth.guest()"
                       title="Neues Feld" class="glyphicon glyphicon-plus"></a>
                    <a title="Bearbeitungsmodus" class="glyphicon glyphicon-edit"
                       ng-click="detailCtrl.editMode = true" ng-hide="detailCtrl.editMode || auth.guest()"></a>
                    <a title="Bearbeitungsmodus beenden" class="glyphicon glyphicon-check"
                       ng-click="detailCtrl.editMode = false" ng-show="detailCtrl.editMode"></a>
                    <a ng-href="{{'/secure/print/teacher/by/id/' + detailCtrl.getTeacher().id + '/pages/1'}}"
                       title="Felder drucken..." class="glyphicon glyphicon-print"></a>
                </span>
            </small>
        </h1>

        <div class="alert alert-info" ng-show="detailCtrl.editMode">
            Klicke jetzt auf ein Feld, um es zu bearbeiten.
        </div>

        <div class="alert alert-warning" ng-show="detailCtrl.getMissingFieldsCount() > 0 && !auth.guest()">
            Die optimale Anzahl an Tingofeldern ist 5*5. F&uuml;r diese Lehrperson
            <ng-pluralize count="detailCtrl.getMissingFieldsCount()"
                          when="{'one': 'fehlt noch ein Feld.',
                                 'other': 'fehlen noch {} Felder.'}">
            </ng-pluralize>
        </div>

        <div class="alert alert-success" ng-show="detailCtrl.getExtraFieldsCount() > 0 && !auth.guest()">
            Die optimale Anzahl an Tingofeldern ist 5*5. F&uuml;r diese Lehrperson gibt es
            <ng-pluralize count="detailCtrl.getExtraFieldsCount()"
                          when="{'one': 'ein Feld mehr.',
                                 'other': '{} Felder mehr.'}">
            </ng-pluralize>
            Daher werden immer nur 25 zuf&auml;llig ausgew&auml;hlte Felder gedruckt werden. (was die Schwierigkeit
            des Spiels erhöht)
        </div>

        <div class="container-fluid">
            <div class="col-xs-6 col-sm-2-4 tingo-field-tile"
                 ng-class="{'bg-success': field.marked}"
                 ng-repeat="field in detailCtrl.getFields()" uib-tooltip-template="'/partials/detail-tooltip.html'"
                 tooltip-is-open="(!!field.editing || !!field.hovering) && !auth.guest()" tooltip-trigger="none"
                 ng-click="detailCtrl.handleFieldDblClick(field)"
                 ng-mouseenter="field.hovering = true" ng-mouseleave="field.hovering = false">
                <span ng-hide="!!field.editing">{{field.text}}</span>
                <div ng-show="!!field.editing" class="tingo-fill-parent">
            <textarea ng-model="field.text" title="Bingofeld bearbeiten"
                      placeholder="Text eingeben..."></textarea>
                </div>
            </div>
        </div>
    </div> <!-- isFetched() -->
</div> <!-- isAuthenticated() -->
