<h1>Lehrer</h1>

//TODO

<table class="table tables-striped table-responsive table-hover">
    <thead>
    <tr>
        <td>#</td>
        <td>Abk&uuml;rzung</td>
        <td>Name</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="teacher in listCtrl.teachers">
        <td>{{teacher.id}}</td>
        <td>{{teacher.abbreviation}}</td>
        <td>{{teacher.name}}</td>
        <td><a ui-sref="teachers.detail({id: teacher.id})">Anzeigen</a></td>
    </tr>
    </tbody>
</table>
