<!doctype html>
<html ng-app="tingo" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greetings from Tingo!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="webjars/bootswatch-paper/3.3.5+4/css/bootstrap.min.css"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="css/tingo.css"/>
</head>

<body>
<div ng-controller="AuthController as auth">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#tingo-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/" class="navbar-brand">Tingo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="tingo-navbar-collapse">
                <ul class="nav navbar-nav" ng-cloak="">
                    <li class="active"><a ui-sref="home">Home</a></li>
                    <li><a href="#/teachers">Lehrer</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           id="tingo-more-dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Mehr <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>Space</li>
                            <li>Something</li>
                            <li>Reference</li>
                        </ul>
                    </li>
                </ul>

                <p class="navbar-text pull-right" ng-hide="authenticated">
                    Hello, it's me? <a ui-sref="login">Login</a>
                </p>

                <p class="navbar-text pull-right" ng-show="authenticated">
                    o/ {{username}} <a href="" ng-click="auth.logout()">Logout</a>
                </p>
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
    </nav>

    <div class="container main-container" ui-view="">

    </div>

    <p th:text="'Hello, yes, ' + ${name} + '!'"></p>

    <noscript>
        Entschuldige bitte meine Inkompetenz, aber diese Seite ben&ouml;tigt JavaScript. Bitte aktiviere JavaScript.
    </noscript>

    <!-- Load scripts last for load time or something -->
    <script src="webjars/angularjs/1.4.9/angular.min.js"></script>
    <script src="webjars/angular-ui-router/0.2.17/angular-ui-router.min.js"></script>
    <script src="webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="webjars/angular-ui-bootstrap/1.1.1-1/ui-bootstrap.min.js"></script>
    <!--suppress HtmlUnknownTarget -->
    <script src="js/tingo.js"></script>

</div> <!-- /div[ng-controller=navCtrl] -->
</body>
</html>
