<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tingofelder drucken | Tingo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet" href="/css/tingo.min.css"/>
</head>

<body>
<!--/*@thymesVar id="teacher" type="li.l1t.tingo.model.Teacher"*/-->
<!--/*@thymesVar id="fields" type="java.util.List<li.l1t.tingo.model.TingoField>"*/-->
<div>
    <div>
        <h4 class="tingo-print-header">
            <span th:text="${teacher.getName()}"></span>
            <small th:text="${teacher.getAbbreviation()}"></small>
        </h4>

        <span th:if="${fields.isEmpty()}">
            Für diesen Lehrer gibt es (noch) keine Bingofelder.
        </span>

        <div class="container-fluid">
            <div class="col-xs-2-4 tingo-field-tile"
                 th:each="field : ${fields}">
                <span th:text="${field.getText()}"></span>
            </div>
        </div>
    </div>

    <div class="text-center text-success tingo-environment-notice">
        <span class="glyphicon glyphicon-leaf"></span>
        Bitte denke an unsere Umwelt und fülle deine Tingofelder mit Bleistift aus!
    </div>
</div>
</body>
</html>
